
* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding-top: 60px;
    font-weight: 400;
}

header {
    background-color: #fefefe;
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 60px;
    border-bottom: 1px grey solid;
    box-shadow: 0 3px 3px grey;
}

.nav-header {
}

.hamburger {
    color: #282d4a;
    padding: 10px;
    float: left;
}
.close-btn {
    text-align: right !important;
}
.hamburger:hover, .close-btn:hover {
    cursor: pointer;
}
.logo {
    font-size: 36px;
    color: #282d4a;
    border-left: 2px solid #282d4a;
    border-right: 2px solid #282d4a;
    padding-left: 5px;
    padding-right: 5px;
    left: 50%;
    margin-left: -36px !important;
}
.logo:hover {
    cursor: pointer;
}

.modal-navbar {
    padding: 80px;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed; 
    z-index: 5;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 260px;
}

footer {
    margin-top: 50px;
    background-color: #282d4a;
    height: 80px;
    width: 100%;
    bottom: 0;
    left: 0;
    postiion: fixed;
}

.footer-text {
    text-align: center;
    padding: 10px;
}

.footer-text a {
    text-decoration: none;
    color: #fa7268;
    font-size: 20px;
}
.footer-text p {
    color: #ffaba4;
}

.toggle-site-menu {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #3e425c;
    overflow-x: hidden;
    transition: 0.5s;
    display: none;
}

.toggle-site-menu a , .toggle-site-menu span {
    /* padding: 8px 8px 8px 32px; */
    font-size: 30px;
    padding-left: 15px;
    color: #fa7268;
    display: block;
    transition: 0.3s;
    text-align: left;
    height: 75px;
}
.toggle-site-menu a {
    text-decoration: none;
    padding-bottom: 2px;
    padding-top: 30px;
    border-bottom: 1px solid #fa7268;
}

.toggle-site-menu a:hover {
    color: #f1f1f1;
}

.toggle-site-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#top_btn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 1;
    font-size: 24px;
    background-color: transparent;
    color: rgb(61, 58, 58);
    cursor: pointer;
    padding: 5px;
    border: 0;
  }

@media screen and (max-width: 375px) {
    .logo {
        margin-left: -30px !important;
    }
}

@media screen and (max-width: 300px) {
    header {
        height: 30px;
    }
    .toggle-site-menu {
        width: 150px;
    }
    .modal-navbar { 
        left: 150px;
    }
    .logo , .hamburger,.toggle-site-menu a , .toggle-site-menu span {
        font-size: 18px;
    }
}

@media screen and (max-width: 200px) {
    header {
        height: 30px;
    }
    .toggle-site-menu {
        width: 100px;
    }
    .modal-navbar { 
        left: 100px;
    }
    .logo , .hamburger,.toggle-site-menu a , .toggle-site-menu span {
        font-size: 18px;
    }
}

