.header {
  background-color: #fefefe;
  border-bottom: 1px grey solid;
  box-shadow: 0 3px 3px grey;
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.navHeader {
  position: relative;
  width: 100%;
}

.brand {
  border-left: 2px solid #282d4a;
  border-right: 2px solid #282d4a;
  color: #282d4a;
  font-size: 2rem;
  left: calc(50% - 85px);
  max-width: 180px;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  text-align: center;
}

.brand:hover {
  cursor: pointer;
}

.hamburger {
  color: #282d4a;
  font-size: 2rem;
  left: 0;
  padding-left: 10px;
  position: absolute;
  top: 5px;
}

.hamburger:hover {
  cursor: pointer;
}
